argument_specs:
  main:
    short_description: Install and configure Git for a list of Git hosting platforms (gitlab, github, etc.)
    author: Spartan0nix
    options:
      git_email:
        type: str
        required: true
        description:
          - The email address of the Git user.
          - Used to configure the 'user.mail' Git property.

      git_username:
        type: str
        required: true
        description:
          - The username of the Git user.
          - Used to configure the 'user.name' Git property.

      git_platforms:
        type: list
        elements: dict
        required: false
        default: []
        description:
          - The list of Git hosting platform to generate configuration for.
          - An unique SSH key will be generated for each platform.
        options:
          name:
            type: str
            required: true
            description:
              - Name / short name of the platform
              - "Exemples: 'gitlab', 'github'"

          hostname:
            type: str
            required: true
            description:
              - Name / fqdn of the host used to interact with the plaform using SSH.
              - "Exemples: 'gitlab.com', 'github.com'"

      git_ssh_key_algorithm:
        type: str
        required: false
        default: ed25519
        choices:
          - rsa
          - dsa
          - rsa1
          - ecdsa
          - ed25519
        description: The algorithm used to generate each SSH private keys.

      git_ssh_key_size:
        type: int
        required: false
        default: 4096
        description: The size of each SSH keys.
