FROM debian:bookworm

ENV DEBIAN_FRONTEND=noninteractive

# Create the runner user.
RUN useradd \
    --create-home \
    --shell /bin/bash \
    --groups sudo \
    runner && \
    echo 'runner:pwd_runner' | chpasswd

# Install system requirements.
RUN apt-get update && \
    apt-get install -y \
        sudo \
        which \
        python3 \
        python3-apt \
        python3-debian \
        python3-yaml \
        python3-cryptography

# Cleanup.
RUN apt-get clean && \
    apt-get autoclean

# Switch to the runner user.
USER runner
