---
- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/hashicorp.list
  register: terraform_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /usr/share/keyrings/hashicorp.asc
    owner: root
    group: root
    mode: "0644"
  when: not terraform_gpg.stat.exists
  become: true

- name: Add the 'apt' repository
  ansible.builtin.apt_repository:
    repo: >
      deb
      [signed-by=/usr/share/keyrings/hashicorp.asc]
      https://apt.releases.hashicorp.com
      {{ ansible_distribution_release }}
      main
    filename: hashicorp
    state: present
    update_cache: true
  become: true
