---
- name: Include tasks (debian)
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"

- name: Install packages
  ansible.builtin.package:
    name:
      - terraform
    state: present
  become: true
