---
- name: Install requirements
  ansible.builtin.package: # noqa: package-latest
    name:
      - zsh
      - git
    state: latest
  become: true

- name: Check for existing 'oh-my-zsh' installation
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.oh-my-zsh"
    get_attributes: false
    get_checksum: false
    get_mime: false
  register: ohmyzsh_install

- name: Retrieve the 'oh-my-zsh' installer script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "{{ ansible_user_dir }}/ohmyzsh_install.sh"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0640"
  when: not ohmyzsh_install.stat.exists

- name: Execute the installation script
  ansible.builtin.command: "sh {{ ansible_user_dir }}/ohmyzsh_install.sh --unattended"
  register: zsh_script
  changed_when: zsh_script.rc == 0
  failed_when: zsh_script.rc != 0
  when: not ohmyzsh_install.stat.exists

- name: Remove the installation script
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/ohmyzsh_install.sh"
    state: absent
  when: not ohmyzsh_install.stat.exists

- name: Update the default user shell
  ansible.builtin.user:
    name: "{{ ansible_user_uid }}"
    shell: /bin/zsh
  become: true

- name: Copy the 'oh-my-zsh' configuration
  ansible.builtin.copy:
    src: "10-custom.zsh"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/10-custom.zsh"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    backup: true

- name: Install ZSH plugins
  ansible.builtin.git:
    repo: "{{ plugin.src }}"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/plugins/{{ plugin.name }}"
    version: master
  loop_control:
    loop_var: plugin
  loop:
    - name: zsh-syntax-highlighting
      src: https://github.com/zsh-users/zsh-syntax-highlighting.git
    - name: zsh-autosuggestions
      src: https://github.com/zsh-users/zsh-autosuggestions.git
    - name: zsh-completions
      src: https://github.com/zsh-users/zsh-completions.git
