---
- name: Install requirements
  ansible.builtin.package:
    name:
      - zsh
      - git
    state: present
  become: true

- name: Check for an existing 'oh-my-zsh' installation # noqa: var-naming
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.oh-my-zsh"
    get_attributes: false
    get_checksum: false
    get_mime: false
  register: ohmyzsh_install

- name: Retrieve the 'oh-my-zsh' installer script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "{{ ansible_user_dir }}/ohmyzsh_install.sh"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0640"
  when: not ohmyzsh_install.stat.exists

- name: Execute the installer script
  ansible.builtin.command: "sh {{ ansible_user_dir }}/ohmyzsh_install.sh --unattended"
  register: zsh_script
  changed_when: zsh_script.rc == 0
  failed_when: zsh_script.rc != 0
  when: not ohmyzsh_install.stat.exists

- name: Remove the installer script
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/ohmyzsh_install.sh"
    state: absent
  when: not ohmyzsh_install.stat.exists

- name: Retrieve the name of the current user
  ansible.builtin.command: "id -un {{ ansible_user_uid }}" # noqa: var-naming
  register: current_user_name
  changed_when: false
  failed_when: current_user_name.rc != 0

- name: Update the default user shell
  ansible.builtin.user:
    name: "{{ current_user_name.stdout }}"
    shell: /bin/zsh
  become: true

- name: Copy the 'oh-my-zsh' configuration
  ansible.builtin.copy:
    src: "10-custom.zsh"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/custom/10-custom.zsh"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    backup: true

- name: Update the '.zshrc' configuration
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    regexp: "{{ config.regex }}"
    line: "{{ config.line }}"
  loop_control:
    loop_var: config
    label: "{{ config.regex }}"
  loop:
    - regex: "^plugins=.+"
      line: >-
        plugins=(
        git
        command-not-found
        zsh-syntax-highlighting
        zsh-autosuggestions
        zsh-completions
        )

- name: Install 'zsh' plugins
  ansible.builtin.git:
    repo: "{{ plugin.src }}"
    dest: "{{ ansible_user_dir }}/.oh-my-zsh/plugins/{{ plugin.name }}"
    version: master
    update: true
  loop_control:
    loop_var: plugin
  loop:
    - name: zsh-syntax-highlighting
      src: https://github.com/zsh-users/zsh-syntax-highlighting.git
    - name: zsh-autosuggestions
      src: https://github.com/zsh-users/zsh-autosuggestions.git
    - name: zsh-completions
      src: https://github.com/zsh-users/zsh-completions.git
