---
- name: Import distro related vars
  ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"
  tags: always

- name: Install global requirements
  ansible.builtin.package:
    name: "{{ global_requirements_packages }}"
    state: present
  become: true
  tags: always

- name: Include tasks (wsl)
  ansible.builtin.include_tasks: wsl.yml
  when: '"WSL_DISTRO_NAME" in ansible_env'
  tags: always

- name: Disable the system bell notification (inputrc)
  ansible.builtin.lineinfile:
    path: /etc/inputrc
    regexp: "^set bell-style .+"
    line: "set bell-style none"
  become: true
  tags: always

# -- Optional
#- name: Disable the running 'PC Speaker' modprobe module
#  community.general.modprobe:
#    name: pcspkr
#    state: absent
#    persistent: absent
#  become: true
#  tags: always

- name: Blacklist the 'PC Speaker' modprobe module
  ansible.builtin.lineinfile:
    path: /etc/modprobe.d/blacklist.conf
    regexp: "^blacklist pcspkr"
    line: "blacklist pcspkr"
    create: true
    owner: root
    group: root
    mode: "0644"
  become: true
  tags: always
