---
- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/helm.asc
  register: helm_gpg

- name: Retrive the 'gpg' key
  ansible.builtin.get_url:
    url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
    dest: /usr/share/keyrings/helm.asc
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not helm_gpg.stat.exists

- name: Add the 'apt' repository
  ansible.builtin.deb822_repository:
    name: helm
    types: deb
    architectures: amd64
    signed_by: /usr/share/keyrings/helm.asc
    uris: https://packages.buildkite.com/helm-linux/helm-debian/any/
    suites: any
    components: main
    state: present
    mode: "0644"
    enabled: true
  become: true
  register: helm_apt_repo

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: helm_apt_repo is changed
