---
- name: Include tasks (archlinux)
  ansible.builtin.include_tasks: archlinux.yml
  when: ansible_os_family | lower == "archlinux"

- name: Include tasks (manual installation)
  ansible.builtin.include_tasks: install.yml
  when: ansible_os_family | lower == "debian"
