---
- name: Install requirements
  ansible.builtin.package: # noqa : package-latest
    name:
      - which
    state: present
  become: true

- name: Include tasks (archlinux)
  ansible.builtin.include_tasks: archlinux.yml
  when: ansible_os_family | lower == "archlinux"

- name: Include tasks (manual installation)
  ansible.builtin.include_tasks: install.yml
  when:
    - ansible_os_family | lower != "archlinux"

- name: Install additional modules
  ansible.builtin.shell: |
    if [[ -f "$HOME/.config/shell/common.sh" ]]
    then
        # Update the PATH
        source "$HOME/.config/shell/common.sh"
    fi

    $(which go) install "{{ module }}"
  args:
    executable: /bin/bash
  register: go_modules_install
  changed_when: '"downloading" in go_modules_install.stdout'
  failed_when: go_modules_install.rc != 0
  loop_control:
    loop_var: module
  loop:
    - golang.org/x/tools/gopls@latest
    - github.com/go-delve/delve/cmd/dlv@latest
