- name: Create
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Create a network
      community.docker.docker_network:
        name: dotfiles_molecule
        ipam_config:
          - subnet: 172.150.0.0/24

    - name: Build the container images
      community.docker.docker_image_build:
        name: "ansible/molecule/dotfiles:{{ molecule.name }}"
        path: .
        dockerfile: "{{ molecule.dockerfile }}"
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        loop_var: molecule
        label: "{{ molecule.name }}"

    - name: Create the containers
      community.docker.docker_container:
        name: "{{ molecule.name }}"
        image: "ansible/molecule/dotfiles:{{ molecule.name }}"
        state: started
        command: sleep 1d
        log_driver: json-file
        networks:
          - name: dotfiles_molecule
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        loop_var: molecule
        label: "{{ molecule.name }}"
