---
- name: Install requirements
  ansible.builtin.package:
    name:
      - ca-certificates
    state: present
  become: true

- name: Extract the short version format (X.Y)
  ansible.builtin.set_fact:
    kubernetes_short_version: "{{ kubernetes_latest_version.stdout | regex_replace('\\.[0-9]+$', '') }}"

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_short_version }}/deb/Release.key"
    dest: /usr/share/keyrings/kubernetes.asc
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Remove the previous 'apt' sources
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/kubernetes.sources"
    state: absent
  become: true

- name: Add the 'apt' repository
  ansible.builtin.deb822_repository:
    name: helm
    types: deb
    signed_by: /usr/share/keyrings/kubernetes.asc
    uris: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_short_version }}/deb/"
    suites: "/"
    state: present
    mode: "0644"
    enabled: true
  become: true
  register: kubectl_apt_repo

- name: Copy the 'apt' preference configuration
  ansible.builtin.copy:
    src: apt-preference
    dest: /etc/apt/preferences.d/kubernetes
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: kubectl_apt_repo is changed
