---
- name: Install requirements
  ansible.builtin.package: # noqa : package-latest
    name:
      - git
    state: present
  become: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Get the version installed
  ansible.builtin.set_fact:
    kubectl_version: "v{{ kubectl_raw_version | ansible.builtin.regex_search('[0-9]+\\.[0-9]+\\.[0-9]+') }}"
  vars:
    kubectl_raw_version: "{{ ansible_facts.packages['kubectl'][0]['version'] }}"
  when: '"kubectl" in ansible_facts.packages'

- name: Get the latest version available # noqa: var-naming
  ansible.builtin.shell: |
    set -o pipefail
    git ls-remote --tags https://github.com/kubernetes/kubernetes.git \
    | grep -E 'v[0-9]+\.[0-9]+\.[0-9]+$' \
    | cut --delimiter="/" --fields=3 \
    | sort --version-sort \
    | tail -1
  args:
    executable: /bin/bash
  register: kubernetes_latest_version
  changed_when: false
  failed_when: kubernetes_latest_version.rc != 0

- name: Include tasks (debian)
  ansible.builtin.include_tasks: debian.yml
  when:
    - ansible_os_family | lower == "debian"
    - kubectl_version | default("") != kubernetes_latest_version.stdout
