---
- name: Install requirements
  ansible.builtin.package: # noqa : package-latest
    name:
      - git
    state: latest
  become: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Get the version installed
  ansible.builtin.set_fact:
    kubectl_version: "v{{ kubectl_raw_version | ansible.builtin.regex_search('[0-9]+\\.[0-9]+\\.[0-9]+') }}"
  vars:
    kubectl_raw_version: "{{ ansible_facts.packages['kubectl'][0]['version'] }}"
  when: '"kubectl" in ansible_facts.packages'

- name: Get the latest version available
  ansible.builtin.shell: |
    set -o pipefail
    git ls-remote --tags https://github.com/kubernetes/kubernetes.git \
    | grep -E 'v[0-9]+\.[0-9]+\.[0-9]+$' \
    | cut --delimiter="/" --fields=3 \
    | sort --version-sort \
    | tail -1
  args:
    executable: /bin/bash
  register: kubernetes_latest_version
  changed_when: false
  failed_when: kubernetes_latest_version.rc != 0

- name: Add the 'apt' repository
  ansible.builtin.include_tasks: debian.yml
  when:
    - ansible_os_family | lower == "debian"
    - kubectl_version | default('') != kubernetes_latest_version.stdout

- name: Install packages
  ansible.builtin.package: # noqa: package-latest
    name:
      - kubectl
      - bash-completion
    state: latest
  become: true

- name: Create a directory to store the shell completions
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/shell/completions"
    state: directory
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"
  when: kubectl_shell_completion | length > 0

- name: Generate the shell completion script (bash)
  ansible.builtin.shell: |
    kubectl completion bash > $HOME/.config/shell/completions/kubectl.bash
  args:
    executable: /bin/bash
  register: bash_completion
  changed_when: false
  failed_when: bash_completion.rc != 0
  when: '"bash" in kubectl_shell_completion'

- name: Add the completion scripts to the path (bash)
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
    marker: "# {mark} Kubectl completion configuration"
    append_newline: true
    prepend_newline: true
    block: |
      if [[ -f $HOME/.config/shell/completions/kubectl.bash ]]
      then
        source $HOME/.config/shell/completions/kubectl.bash
      fi
  when: '"bash" in kubectl_shell_completion'

- name: Generate the shell completion script (zsh)
  ansible.builtin.shell: |
    kubectl completion zsh > $HOME/.config/shell/completions/kubectl.zsh
  args:
    executable: /bin/bash
  register: zsh_completion
  changed_when: false
  failed_when: zsh_completion.rc != 0
  when: '"zsh" in kubectl_shell_completion'

- name: Add the completion scripts to the path (zsh)
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"
    marker: "# {mark} Kubectl completion configuration"
    append_newline: true
    prepend_newline: true
    block: |
      if [[ -f $HOME/.config/shell/completions/kubectl.zsh ]]
      then
        source $HOME/.config/shell/completions/kubectl.zsh
      fi
  when: '"zsh" in kubectl_shell_completion'
