---
- name: Include tasks (manual installation)
  ansible.builtin.include_tasks: install.yml
  when:
    - ansible_os_family | lower != "archlinux"

- name: Install packages
  ansible.builtin.package:
    name:
      - kubectl
      - bash-completion
    state: present
  become: true

- name: Create a directory to store the shell completions
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/shell/completions"
    state: directory
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"
  when: kubectl_shell_completion | length > 0

- name: Generate the shell completion script (bash)
  ansible.builtin.shell: |
    kubectl completion bash > $HOME/.config/shell/completions/kubectl.bash
  args:
    executable: /bin/bash
  register: bash_completion
  changed_when: false
  failed_when: bash_completion.rc != 0
  when: '"bash" in kubectl_shell_completion'

- name: Add the completion scripts to the path (bash)
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Kubectl completion configuration"
    append_newline: true
    prepend_newline: true
    block: |
      if [[ -f $HOME/.config/shell/completions/kubectl.bash ]]
      then
        source $HOME/.config/shell/completions/kubectl.bash
      fi
  when: '"bash" in kubectl_shell_completion'

- name: Generate the shell completion script (zsh)
  ansible.builtin.shell: |
    kubectl completion zsh > $HOME/.config/shell/completions/kubectl.zsh
  args:
    executable: /bin/bash
  register: zsh_completion
  changed_when: false
  failed_when: zsh_completion.rc != 0
  when: '"zsh" in kubectl_shell_completion'

- name: Add the completion scripts to the path (zsh)
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Kubectl completion configuration"
    append_newline: true
    prepend_newline: true
    block: |
      if [[ -f $HOME/.config/shell/completions/kubectl.zsh ]]
      then
        source $HOME/.config/shell/completions/kubectl.zsh
      fi
  when: '"zsh" in kubectl_shell_completion'
