---
- name: Install requirements
  ansible.builtin.apt: # noqa package-latest
    name:
      - ca-certificates
    state: latest
  become: true

- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/google-cloud.asc
  register: gcloud_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    dest: /usr/share/keyrings/google-cloud.asc
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not gcloud_gpg.stat.exists

- name: Add the 'apt' repository
  ansible.builtin.apt_repository:
    repo: >
      deb
      [signed-by=/usr/share/keyrings/google-cloud.asc]
      https://packages.cloud.google.com/apt
      cloud-sdk
      main
    filename: google-cloud
    state: present
    update_cache: true
  become: true
