---
- name: Install requirements
  ansible.builtin.apt:
    name:
      - ca-certificates
    state: present
  become: true

- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/google-cloud.asc
  register: gcloud_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    dest: /usr/share/keyrings/google-cloud.asc
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not gcloud_gpg.stat.exists

- name: Add the 'apt' repository
  ansible.builtin.deb822_repository:
    name: google-cloud
    types: deb
    signed_by: /usr/share/keyrings/google-cloud.asc
    uris: https://packages.cloud.google.com/apt
    suites: cloud-sdk
    components: main
    state: present
    mode: "0644"
    enabled: true
  become: true
  register: gcloud_apt_repo

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: gcloud_apt_repo is changed

- name: Install packages
  ansible.builtin.package:
    name:
      - google-cloud-cli
      - google-cloud-cli-gke-gcloud-auth-plugin
    state: present
  become: true
