---
- name: Add the 'debian' repository
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"

- name: Install packages
  ansible.builtin.package: # noqa package-latest
    name:
      - google-cloud-cli
      - google-cloud-cli-gke-gcloud-auth-plugin
    state: latest
  become: true
