---
- name: Include tasks (archlinux)
  ansible.builtin.include_tasks: archlinux.yml
  when: ansible_os_family | lower == "archlinux"

- name: Include tasks (debian)
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"
