---
- name: Install packages
  community.general.pacman:
    name:
      - nvm
    state: present
  become: true

- name: Add 'nvm' to the PATH
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.config/shell/common.sh"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Nvm loading configuration"
    append_newline: true
    prepend_newline: true
    block: |
      export NVM_DIR="$HOME/.nvm"

      # Load 'nvm'.
      source /usr/share/nvm/init-nvm.sh
