---
- name: Install requirements
  ansible.builtin.package: # noqa package-latest
    name:
      - git
      - wget # Required by Nvm to install Node.
    state: present
  become: true

- name: Clone the Git repository
  ansible.builtin.git:
    repo: "https://github.com/nvm-sh/nvm.git"
    dest: "{{ ansible_user_dir }}/.nvm"
    version: "{{ nodejs_nvm_version }}"
    recursive: false
    update: true

- name: Add 'nvm' to the PATH
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.config/shell/common.sh"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Nvm loading configuration"
    append_newline: true
    prepend_newline: true
    block: |
      export NVM_DIR="$HOME/.nvm"

      # Load 'nvm'.
      [ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"

      # Load 'nvm' bash_completion.
      [ -s "$NVM_DIR/bash_completion" ] && source "$NVM_DIR/bash_completion"
