---
- name: Include tasks (archlinux)
  ansible.builtin.include_tasks: archlinux.yml
  when: ansible_os_family | lower == "archlinux"

- name: Include tasks (manual installation)
  ansible.builtin.include_tasks: install.yml
  when:
    - ansible_os_family | lower != "archlinux"

- name: Configure 'node' to use 'openssl' certificates
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.config/shell/common.sh"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} NodeJS CA certificate configuration"
    append_newline: true
    prepend_newline: true
    block: |
      export NODE_OPTIONS="--use-openssl-ca"

- name: Install the latest LTS version available
  ansible.builtin.shell: |
    if [[ -s "$HOME/.config/shell/common.sh" ]]
    then
        # Load 'nvm'.
        source "$HOME/.config/shell/common.sh"
    fi

    nvm install --lts --default --save --no-progress
  args:
    executable: /bin/bash
  register: nodejs_install
  changed_when: '"Downloading and installing node" in nodejs_install.stdout'
  failed_when: nodejs_install.rc != 0
