---
- name: Configure the CA certificate bundle (module 'requests')
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.config/shell/common.sh"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Python module 'request' CA certificate configuration"
    append_newline: true
    prepend_newline: true
    block: |
      export REQUESTS_CA_BUNDLE="{{ python_system_ca_bundle }}"

- name: Create a folder for the 'pip' module configuration
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.pip"
    state: directory
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0700"

- name: Configure the CA certificate bundle (module 'pip')
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.pip/pip.conf"
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Python module 'pip' CA certificate configuration"
    append_newline: true
    prepend_newline: true
    block: |
      [global]
      cert = {{ python_system_ca_bundle }}
