---
- name: Load OS related variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family | lower }}.yml"

- name: Install packages
  ansible.builtin.package: # noqa package-latest
    name:
      - python3
      - python3-pip
    state: latest
  become: true

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Get the version of Python installed
  ansible.builtin.set_fact:
    python_version: "{{ python_full_version | regex_search('^[0-9]+\\.[0-9]+') }}"
  vars:
    python_full_version: "{{ ansible_facts.packages['python3'][0]['version'] }}"

- name: Remove 'python' managed 'EXTERNALLY-MANAGED' flag
  ansible.builtin.file:
    path: "/usr/lib/python{{ python_version }}/EXTERNALLY-MANAGED"
    state: absent
  become: true

- name: Configure python to use openssl certificates
  ansible.builtin.include_tasks: ca_bundle.yml

- name: Update pip # noqa: package-latest
  ansible.builtin.pip:
    name: pip
    state: latest
