---
- name: Load distro related variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family | lower }}.yml"

- name: Install packages
  ansible.builtin.package: # noqa package-latest
    name: "{{ python_packages }}"
    state: present
  become: true

- name: Configure 'python' to use 'openssl' certificates
  ansible.builtin.include_tasks: ca.yml
