---
- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/trivy.asc
  register: trivy_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://aquasecurity.github.io/trivy-repo/deb/public.key
    dest: /usr/share/keyrings/trivy.asc
    owner: root
    group: root
    mode: "0644"
  when: not trivy_gpg.stat.exists
  become: true

- name: Add the 'apt' repository
  ansible.builtin.apt_repository:
    repo: >-
      deb
      [signed-by=/usr/share/keyrings/trivy.asc]
      https://aquasecurity.github.io/trivy-repo/deb
      {{ ansible_distribution_release }}
      main
    filename: trivy
    state: present
    update_cache: true
  become: true
