---
- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/trivy.asc
  register: trivy_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://aquasecurity.github.io/trivy-repo/deb/public.key
    dest: /usr/share/keyrings/trivy.asc
    owner: root
    group: root
    mode: "0644"
  when: not trivy_gpg.stat.exists
  become: true

- name: Add the 'apt' repository
  ansible.builtin.deb822_repository:
    name: trivy
    types: deb
    signed_by: /usr/share/keyrings/trivy.asc
    uris: https://aquasecurity.github.io/trivy-repo/deb
    suites: generic
    components: main
    state: present
    mode: "0644"
    enabled: true
  become: true
  register: trivy_apt_repo

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: trivy_apt_repo is changed
