---
- name: Install requirements
  ansible.builtin.package:
    name:
      - apt-transport-https
      - gnupg
    state: present
  become: true

- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/microsoft.gpg
  register: vscode_gpg

- name: Retrieve the ASCII-armored 'gpg' key
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /usr/share/keyrings/microsoft.asc
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not vscode_gpg.stat.exists

# VS Code updates the source file (vscode.sources) at runtime,
# replacing the 'signed-by' field with a dearmored key.
- name: Generate a dearmored 'gpg' key
  ansible.builtin.command: >-
    gpg
    --dearmor
    --output /usr/share/keyrings/microsoft.gpg
    /usr/share/keyrings/microsoft.asc
  register: vscode_asc_to_gpg
  changed_when: vscode_asc_to_gpg.rc == 0
  failed_when: vscode_asc_to_gpg.rc != 0
  become: true
  when: not vscode_gpg.stat.exists

- name: Remove the ASCII-armored 'gpg' key
  ansible.builtin.file:
    path: /usr/share/keyrings/microsoft.asc
    state: absent
  become: true
  when: not vscode_gpg.stat.exists

- name: Add the 'apt' repository
  ansible.builtin.deb822_repository:
    name: vscode
    types: deb
    architectures: amd64
    signed_by: /usr/share/keyrings/microsoft.gpg
    uris: https://packages.microsoft.com/repos/code
    suites: stable
    components: main
    state: present
    mode: "0644"
    enabled: true
  become: true
  register: vscode_apt_repo

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: vscode_apt_repo is changed
