---
- name: Add the 'debian' repository
  ansible.builtin.include_tasks: debian.yml
  when:
    - ansible_os_family | lower == "debian"
    - '"WSL_DISTRO_NAME" not in ansible_env'

- name: Configure the 'wsl' integration
  ansible.builtin.include_tasks: wsl.yml
  when: '"WSL_DISTRO_NAME" in ansible_env'

- name: Install extensions
  ansible.builtin.command: code --install-extension "{{ extension }}"
  register: vscode_extension
  changed_when: '"was successfully installed" in vscode_extension.stdout'
  failed_when: vscode_extension.rc != 0
  loop: "{{ vscode_extensions }}"
  loop_control:
    loop_var: extension

- name: Copy the user settings (standalone)
  ansible.builtin.copy:
    src: settings.json
    dest: "{{ vscode_user_config_directory }}/settings.json"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0640"
    backup: true
  when: '"WSL_DISTRO_NAME" not in ansible_env'
