---
- name: Install packages
  ansible.builtin.package: # noqa : package-latest
    name:
      - git
    state: latest
  become: true

- name: Configure the 'user.email' property
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ git_email }}"

- name: Configure the 'user.name' property
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ git_username }}"

- name: Configure the 'init.defaultBranch'
  community.general.git_config:
    name: init.defaultBranch
    scope: global
    value: main

- name: Create the '.ssh' folder
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.ssh"
    state: directory
    mode: "0700"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"

- name: Generate 'ssh' keypairs
  community.crypto.openssh_keypair:
    path: "{{ ansible_user_dir }}/.ssh/id_git_{{ platform.name }}"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    regenerate: partial_idempotence
    type: "{{ git_ssh_key_algorithm }}"
    size: "{{ git_ssh_key_size }}"
    comment: "{{ git_email }}"
  loop: "{{ git_platforms }}"
  loop_control:
    loop_var: platform

- name: Apply the 'ssh' config
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/.ssh/config"
    backup: true
    create: true
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0600"
    marker: "# {mark} Git platforms authentication configurations"
    append_newline: true
    prepend_newline: true
    block: |
      {% for platform in git_platforms %}
      Host {{ platform.hostname }}
          PreferredAuthentications publickey
          IdentityFile ~/.ssh/id_git_{{ platform.name }}
      {% endfor %}
  when: git_platforms | length > 0
