---
- name: Check the presence of 'apt' repository
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/opentofu.list
  register: opentofu_apt

- name: Retrieve the 'gpg' keys
  ansible.builtin.get_url:
    url: "{{ key.url }}"
    dest: "/usr/share/keyrings/{{ key.name }}"
    owner: root
    group: root
    mode: "0644"
  when: not opentofu_apt.stat.exists
  become: true
  loop_control:
    loop_var: key
    label: "{{ key.name }}"
  loop:
    - name: opentofu.gpg
      url: https://get.opentofu.org/opentofu.gpg
    - name: opentofu-repo.asc
      url: https://packages.opentofu.org/opentofu/tofu/gpgkey

- name: Add the 'apt' repository
  ansible.builtin.copy:
    src: opentofu.sources
    dest: /etc/apt/sources.list.d/opentofu.sources
    owner: root
    group: root
    mode: "0644"
  become: true
  register: opentofu_apt_repo

# --
# TODO: Switch to this task, once the 'deb822_repository' module supports multiple entries for `signed_by`.
#
# Or when the maintainers of Opentofu decide to switch to a single key ...
#
# --
# - name: Add the 'apt' repository
#   ansible.builtin.deb822_repository:
#     name: "opentofu"
#     types:
#       - deb
#       - deb-src
#     signed_by:
#       - /usr/share/keyrings/opentofu.gpg
#       - /usr/share/keyrings/opentofu-repo.asc
#     uris: https://packages.opentofu.org/opentofu/tofu/any/
#     suites: any
#     components: main
#     state: present
#     mode: "0644"
#     enabled: true
#   become: true
#   register: opentofu_apt_repo
# --

- name: Update 'apt' cache # noqa: no-handler
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: opentofu_apt_repo is changed
