---
- name: Load distro related variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family | lower }}.yml"

- name: Include tasks (debian)
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"

- name: Install packages
  ansible.builtin.package:
    name: "{{ opentofu_packages }}"
    state: present
  become: true
