---
- name: Install requirements
  ansible.builtin.package: # noqa: package-latest
    name:
      - ca-certificates
    state: latest
  become: true

- name: Check the presence of the 'gpg' key
  ansible.builtin.stat:
    path: /usr/share/keyrings/docker.asc
  register: docker_gpg

- name: Retrieve the 'gpg' key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /usr/share/keyrings/docker.asc
    owner: root
    group: root
    mode: "0644"
  become: true
  when: not docker_gpg.stat.exists

- name: Add the 'apt' repository
  ansible.builtin.apt_repository:
    repo: >
      deb
      [arch=amd64 signed-by=/usr/share/keyrings/docker.asc]
      https://download.docker.com/linux/debian
      {{ ansible_distribution_release }}
      stable
    filename: docker
    state: present
    update_cache: true
  become: true
