---
- name: Setup the 'debian' repository
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"

- name: Install 'docker'
  ansible.builtin.package: # noqa: package-latest
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
  become: true

- name: Update the 'docker' groups to the current user
  ansible.builtin.user:
    user: "{{ ansible_user_id }}"
    state: present
    groups:
      - docker
    append: true
  become: true

- name: Start the 'docker' service
  ansible.builtin.service:
    name: docker
    state: started
  become: true
