---
- name: Load distro related variables
  ansible.builtin.include_vars:
    file: "{{ ansible_os_family | lower }}.yml"

- name: Include tasks (debian)
  ansible.builtin.include_tasks: debian.yml
  when: ansible_os_family | lower == "debian"

- name: Install packages
  ansible.builtin.package:
    name: "{{ docker_packages }}"
    state: present
  become: true

- name: Add the 'docker' group to the current user
  ansible.builtin.user:
    user: "{{ ansible_user_id }}"
    state: present
    groups:
      - docker
    append: true
  become: true

- name: Start the 'docker' service
  ansible.builtin.service:
    name: docker
    state: started
  become: true
  when: >-
    "docker" not in ansible_virtualization_tech_guest | default([])
