---
- name: Local development environment configuration
  hosts: localhost
  connection: local
  vars_prompt:
    - name: ansible_become_password
      prompt: Password of the ansible become user
      private: true
    - name: git_username
      prompt: Username of the git configuration
      private: false
    - name: git_email
      prompt: Email address of the git configuration
      private: false
  pre_tasks:
    # ---
    - name: Import distro specific vars
      ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"
      tags: always
    # ---
    - name: Install global requirements # noqa: package-latest
      ansible.builtin.package:
        name: "{{ global_requirements_packages }}"
        state: latest
      become: true
      tags: always
    # ---
    - name: Install pip requirements # noqa: package-latest
      ansible.builtin.pip:
        name: jmespath
        state: latest
      tags: always
    # ---
    - name: Configure the default PATH for WSL
      ansible.builtin.blockinfile:
        path: "{{ ansible_user_dir }}/.common_shell_config"
        create: true
        owner: "{{ ansible_user_uid }}"
        group: "{{ ansible_user_gid }}"
        mode: "0600"
        marker: "# {mark} WSL PATH configuration"
        append_newline: true
        insertbefore: "BOF"
        block: |
          # Manually configure the PATH to prevent performance issue on WSL
          export PATH="/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/usr/lib/wsl/lib:$HOME/.local/bin"
      when: '"WSL_DISTRO_NAME" in ansible_env'
      tags: always
    # ---
  roles:
    # ---
    - role: zsh
      zsh_default_shell: true
      tags: zsh
    # ---
    - role: ansible_dev
      tags: ansible_dev
    # ---
    - role: docker
      tags: docker
    # ---
    - role: gcloud
      tags: gcloud
    # ---
    - role: git
      git_platforms:
        - github
        - gitlab
      tags: git
    # ---
    - role: go
      tags: go
    # ---
    - role: helm
      tags: helm
    # ---
    - role: jq
      tags: jq
    # ---
    - role: k9s
      tags: k9s
    # ---
    - role: kubectl
      kubectl_shell_completion:
        - zsh
        - bash
      tags: kubectl
    # ---
    - role: nodejs
      tags: nodejs
    # ---
    - role: opentofu
      tags: opentofu
    # ---
    - role: python
      tags: python
    # ---
    - role: terraform
      tags: terraform
    # ---
    - role: trivy
      tags: trivy
    # ---
    - role: vscode
      vscode_extensions:
        - akamud.vscode-theme-onedark
        - alexdima.copy-relative-path
        - bierner.markdown-mermaid
        - esbenp.prettier-vscode
        - golang.go
        - hashicorp.terraform
        - mhutchie.git-graph
        - ms-azuretools.vscode-docker
        - ms-python.python
        - pkief.material-icon-theme
        - redhat.ansible
        - redhat.vscode-yaml
        - shd101wyy.markdown-preview-enhanced
      tags: vscode
    # ---
    - role: yq
      tags: yq
