---
- name: Local development environment configuration
  hosts: localhost
  connection: local
  # ---
  vars_prompt:
    - name: ansible_user
      prompt: Name of the user used to execute Ansible (ansible_user)
      private: false
    - name: git_username
      prompt: Username of the git configuration
      private: false
    - name: git_email
      prompt: Email address of the git configuration
      private: false
  # ---
  pre_tasks:
    - name: Load pre tasks
      ansible.builtin.include_tasks: pre/main.yml
      tags: always
  # ---
  tasks:
    # ---
    - name: Include task (zsh)
      ansible.builtin.include_role:
        name: zsh
      when: '"zsh" in components'
    # ---
    - name: Include task (docker)
      ansible.builtin.include_role:
        name: docker
      when: '"docker" in components'
    # ---
    - name: Include task (gcloud)
      ansible.builtin.include_role:
        name: gcloud
      when: '"gcloud" in components'
    # ---
    - name: Include task (git)
      ansible.builtin.include_role:
        name: git
      when: '"git" in components'
    # ---
    - name: Include task (go)
      ansible.builtin.include_role:
        name: go
      when: '"go" in components'
    # ---
    - name: Include task (helm)
      ansible.builtin.include_role:
        name: helm
      when: '"helm" in components'
    # ---
    - name: Include task (jq)
      ansible.builtin.include_role:
        name: jq
      when: '"jq" in components'
    # ---
    - name: Include task (k9s)
      ansible.builtin.include_role:
        name: k9s
      when: '"k9s" in components'
    # ---
    - name: Include task (kubectl)
      ansible.builtin.include_role:
        name: kubectl
      when: '"kubectl" in components'
    # ---
    - name: Include task (nodejs)
      ansible.builtin.include_role:
        name: nodejs
      when: '"nodejs" in components'
    # ---
    - name: Include task (opentofu)
      ansible.builtin.include_role:
        name: opentofu
      when: '"opentofu" in components'
    # ---
    - name: Include task (python)
      ansible.builtin.include_role:
        name: python
      when: '"python" in components'
    # ---
    - name: Include task (terraform)
      ansible.builtin.include_role:
        name: terraform
      when: '"terraform" in components'
    # ---
    - name: Include task (trivy)
      ansible.builtin.include_role:
        name: trivy
      when: '"trivy" in components'
    # ---
    - name: Include task (vim)
      ansible.builtin.include_role:
        name: vim
      when: '"vim" in components'
    # ---
    - name: Include task (vscode)
      ansible.builtin.include_role:
        name: vscode
      when: '"vscode" in components'
    # ---
    - name: Include task (vscodium)
      ansible.builtin.include_role:
        name: vscodium
      when: '"vscodium" in components'
    # ---
    - name: Include task (yq)
      ansible.builtin.include_role:
        name: yq
      when: '"yq" in components'
