---
- name: Local development environment configuration
  hosts: localhost
  connection: local
  # ---
  vars_prompt:
    - name: ansible_become_password
      prompt: Password of the ansible become user
      private: true
    - name: git_username
      prompt: Username of the git configuration
      private: false
    - name: git_email
      prompt: Email address of the git configuration
      private: false
  # ---
  pre_tasks:
    - name: Load pre tasks
      ansible.builtin.include_tasks: pre/main.yml
      tags: always
  # ---
  roles:
    # ---
    - role: zsh
      tags: zsh
    # ---
    - role: ansible_dev
      tags: ansible_dev
    # ---
    - role: docker
      tags: docker
    # ---
    - role: gcloud
      tags: gcloud
    # ---
    - role: git
      git_platforms:
        - name: github
          hostname: github.com
        - name: gitlab
          hostname: gitlab.com
      tags: git
    # ---
    - role: go
      tags: go
    # ---
    - role: helm
      tags: helm
    # ---
    - role: jq
      tags: jq
    # ---
    - role: k9s
      tags: k9s
    # ---
    - role: kubectl
      kubectl_shell_completion:
        - zsh
        - bash
      tags: kubectl
    # ---
    - role: nodejs
      tags: nodejs
    # ---
    - role: opentofu
      tags: opentofu
    # ---
    - role: python
      tags: python
    # ---
    - role: terraform
      tags: terraform
    # ---
    - role: trivy
      tags: trivy
    # ---
    - role: vim
      tags: vim
    # ---
    - role: vscode
      vscode_extensions:
        - akamud.vscode-theme-onedark
        - alexdima.copy-relative-path
        - bierner.markdown-mermaid
        - esbenp.prettier-vscode
        - golang.go
        - hashicorp.terraform
        - mhutchie.git-graph
        - ms-azuretools.vscode-docker
        - ms-python.python
        - pkief.material-icon-theme
        - redhat.ansible
        - redhat.vscode-yaml
        - shd101wyy.markdown-preview-enhanced
      tags: vscode
    # ---
    - role: yq
      tags: yq
